
<!DOCTYPE html>
<html>
<head>
<nav>
                    <ul>
                        <li><a href="index">Aboutme</a></li>
                        <li><a href="Mychoice">My choice</a></li>
                        <li><a href="contact">contact</a></li>
                        <li><a href="guest-book">guestbook</a><li>
                    </ul>
<meta charset="utf-8">
<title>W07 Guestbook</title>
<link type="text/css" rel="stylesheet" href="assets/guestbook.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">

</head>
<body class="container">
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>